<?xml version="1.0"?>
<launch>

  <!-- load and publish fsc map -->
  <node pkg="recast_ros" type="recast_test_node" name="recast_test_node" respawn="false" output="screen">
  	<param name="path" value="$(find recast_demos)/data/gridmap_fsc_res5cm.obj" />
  	<param name="path_areas" value="$(find recast_demos)/data/gridmap_fsc_res5cm.dat" />
  	<param name="start_x" value="0.0" />
  	<param name="start_y" value="0.0" />
  	<param name="start_z" value="0.0" />
  	<param name="goal_x" value="14.0" />
  	<param name="goal_y" value="16.0" />
  	<param name="goal_z" value="0.0" />
	<param name="cell_size" value="0.1f" />
	<param name="cell_height" value="0.1f" />
	<param name="agent_height" value="0.7f" />
	<param name="agent_radius" value="0.2f" />
	<param name="agent_max_climb" value="0.41f" />
	<param name="agent_max_slope" value="60.0f" />
  </node>

</launch>
