<?xml version="1.0"?>
<launch>

  <!-- load and publish fsc map -->
  <node pkg="recast_ros" type="test_input_map" name="test_input_map" respawn="false" output="screen">
  	<param name="path" value="$(find recast_demos)/data/gridmap_fsc_res5cm.obj" />
  	<param name="path_areas" value="$(find recast_demos)/data/gridmap_fsc_res5cm.dat" />

  </node>

</launch>
