<?xml version="1.0"?>

<!--

Copyright (c) 2019 Martim Brandão martim@robots.ox.ac.uk, Omer Burak Aladag aladagomer@sabanciuniv.edu, Ioannis Havoutis ioannis@robots.ox.ac.uk
This software is provided 'as-is', without any express or implied
warranty. In no event will the authors be held liable for any damages
arising from the use of this software.
Permission is granted to anyone to use this software for any purpose,
including commercial applications, and to alter it and redistribute it
freely, subject to the following restrictions:
1. The origin of this software must not be misrepresented; you must not
  claim that you wrote the original software. If you use this software
  in a product, an acknowledgment in the product documentation would be
  appreciated but is not required.
2. Altered source versions must be plainly marked as such, and must not be
  misrepresented as being the original software.
3. This notice may not be removed or altered from any source distribution.

										 -->

<launch>

  <!-- load and publish fsc map -->
  <node pkg="recast_ros" type="test_input_map" name="test_input_map" respawn="false" output="screen">
  	<param name="path" value="$(find gaitmesh_ros)/data/annotate_cloud_gaits_mesh.obj" />
  	<param name="path_areas" value="$(find gaitmesh_ros)/data/annotate_cloud_gaits_mesh.dat" />
    <param name="reference_point_x" value="0.5" />
    <param name="reference_point_y" value="0.0" />
    <param name="reference_point_z" value="-1.0" />    
    <!-- <param name="reference_point_x" value="6.0" />
    <param name="reference_point_y" value="74.0" />
    <param name="reference_point_z" value="4.0" /> -->

  </node>

</launch>
